<footer class="text-lg-start footer">
  <div class="row d-flex p-3 text-center">
    <div class="col text-white">
      <h4 class="fw-bold">AXWORK</h4>
      <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ea.</p>
    </div>
    <div class="col text-white">
      <h5 class="fw-bold">Important Links</h5>
      <h6><a href="#" class="link-light text-decoration-none fw-bold">Home</a></h6>
      <h6><a href="#" class="link-light text-decoration-none fw-bold">About</a></h6>
      <h6><a href="#" class="link-light text-decoration-none fw-bold">Services</a></h6>    
    </div>
    <div class="col text-white">
      <h5 class="fw-bold">Contact us</h5>
      <a href="#" class="link-light"><i class="fa fa-linkedin px-2"></i></a>
      <a href="#" class="link-light"><i class="fa fa-facebook px-2"></i></a>
      <a href="#" class="link-light"><i class="fa fa-twitter px-2"></i></a>
      <a href="#" class="link-light"><i class="fa fa-instagram px-2"></i></a>
    </div>
    <span class="mt-3 text-white small fw-bold">© 2023 Copyright:
    <a class="text-white" href="#">axwork.com</a></span>
     </div>
</footer>