<!DOCTYPE html>
<html>
<head>
	<title>Social Media Buttons</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<style>
		.btn {
			padding: 10px 20px;
			border-radius: 5px;
			font-size: 16px;
			margin: 10px;
			text-decoration: none;
		}
		
		.btn-facebook {
			background-color: #3b5998;
			color: #fff;
		}
		
		.btn-linkedin {
			background-color: #0077b5;
			color: #fff;
		}
		
		.btn-twitter {
			background-color: #1da1f2;
			color: #fff;
		}
	</style>
</head>
<body>
	<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="text-center">
			<h1>Social Media</h1>
			<a href="{% url 'social_auth:facebook' %}" class="btn btn-facebook">Facebook</a>
			<a href="{{url}}" class="btn btn-linkedin" >LinkedIn</a>
			<a href="{% url 'social_auth:twitter' %}" class="btn btn-twitter">Twitter</a>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
