{% extends 'admindashboard/partials/base.html' %}
{% block style %}
{% endblock style %}
{% block content %}

<section>
    <div class="container-fluid">

        <div class="row mb-2">
            <h2 class="text-center fw-bold" style="font-family: 'Times New Roman', serif; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">List Of Applied Jobs</h2>

        </div>

        <div class="row">

            {% for obj in apply_job_list %}

            <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="card-header bg-dark text-white fs-3 fw-bold"> Job : {{ obj.job }}</div>
                    <div class='card-body'>
                        <h5 class="card-title" style="font-size: 18px; font-weight: 600;"><span class='fs-3'>Candidate : </span> <br> {{ obj.user }}</h5>
                        <br>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'admindashboard:apply_job_detail' slug=obj.slug %}" class="btn btn-primary">More Details</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}
{% block script %}
{% endblock script %}
