{% extends 'admindashboard/partials/base.html' %}
{% block style %}
{% endblock style %}
{% load static %}
{% block content %}


<section class="h-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">

                        <div class="col-xl-6 d-none d-xl-block mt-5">
                            <img src="{% static 'Images/job.jpg' %}" alt="Sample photo" class="img-fluid rounded" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>

                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">

                                <h3 class="mb-5 fw-bold text-uppercase">Organization Creation Form</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline mb-4">
                                            <form action="{% url 'admindashboard:ventures_create' %}" method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <label for="name">Name:</label>
                                                <input type="text" id="name" name="name" class="form-control"><br><br>

                                                <label for="image">Image:</label>
                                                <input type="file" id="image" name="image" class="form-control"><br><br>

                                                <label for="website">Website:</label>
                                                <input type="text" id="website" name="website" class="form-control"><br><br>

                                                <label for="founder">Founder:</label>
                                                <input type="text" id="founder" name="founder" class="form-control"><br><br>

                                                <label for="founded_on">Founded on:</label><br>
                                                <textarea id="founded_on" name="founded_on" rows="4" cols="50" class="form-control"></textarea><br><br>

                                                <label for="address">Address:</label>
                                                <input type="text" id="address" name="address" class="form-control"><br><br>

                                                <label for="contact_no">Contact no:</label>
                                                <input type="text" id="contact_no" name="contact_no" class="form-control"><br><br>

                                                <label for="organisation_type">Organisation type:</label>
                                                <input type="text" id="organisation_type" name="organisation_type" class="form-control"><br><br>

                                                <label for="area_served">Area served:</label>
                                                <input type="text" id="area_served" name="area_served" class="form-control"><br><br>

                                                <label for="description">Description:</label>
                                                <input type="text" id="description" name="description" class="form-control"><br><br> 

                                                <input class="btn btn-outline-dark" type="submit" value="Submit" style="width: 100%; max-width: 150px;">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
